<%#= render partial: 'spree/shared/google_analytics.js' %>
<%#= render partial: 'spree/shared/topbar' %>

<%#= render partial: 'spree/shared/header' %>

<div class="navbar navbar-default yamm" role="navigation" id="navbar">
</div>

<div class="container">
  <div class="row" data-hook>
    <%#= breadcrumbs(@taxon) %>

    <%#= render partial: 'spree/shared/sidebar' if content_for? :sidebar %>

    <div id="content" class="<%= !content_for?(:sidebar) ? "col-sm-12" : "col-sm-8 col-md-9" %>" data-hook>
      <%= flash_messages %>
      <%= yield %>
    </div>

    <%= yield :templates %>
  </div>
</div>
<%#= render partial: 'spree/shared/footer' %>