<!--<div id="content">-->
    <!--<div class="row">-->
        <div class="col-md-12">
            <div id="main-slider">
                <!--<div class="item">-->
                <!--    <img class="img-responsive" src="<%#= image_url('spree/frontend/template/main-slider2.jpg') %>" alt="" >-->
                <!--</div>-->
                <div class="item">
                    <img class="img-responsive" src="<%= image_url('spree/frontend/template/getinspired1.jpg') %>" alt="">
                </div>
                <div class="item">
                    <img class="img-responsive" src="<%= image_url('spree/frontend/template/getinspired2.jpg') %>" alt="">
                </div>
                <div class="item">
                    <img class="img-responsive" src="<%= image_url('spree/frontend/template/getinspired3.jpg') %>" alt="">
                </div>
            </div>
             <!--/#main-slider -->
        </div>
    <!--</div>-->
    
    
    <!-- *** ADVANTAGES HOMEPAGE ***
 _________________________________________________________ -->
    <div id="advantages">

        <div class="row">
            <div class="same-height-row">
                <div class="col-sm-4">
                    <div class="box same-height clickable" >
                        <div class="icon"><i class="fa fa-heart"></i>
                        </div>

                        <h3><a href="#">Cuidamos de nuestros clientes</a></h3>
                        <p>Somos conocidos por proveer la mejor atención a nuestros clientes</p>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="box same-height clickable">
                        <div class="icon"><i class="fa fa-tags"></i>
                        </div>

                        <h3><a href="#">Mejores precios</a></h3>
                        <p>Tenemos los mejores precios del mercado</p>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="box same-height clickable">
                        <div class="icon"><i class="fa fa-thumbs-up"></i>
                        </div>

                        <h3><a href="#">100% satisfacción garantizada</a></h3>
                        <p>Estamos seguros que estarás satisfecho con tu compra</p>
                    </div>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>
    <!-- /#advantages -->

    <!-- *** ADVANTAGES END *** -->

